<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Test" >
        <classes>
            <class name="ru.point.pft.mantis.tests.LoginTests"/>
            <class name="ru.point.pft.mantis.tests.RegistrationTests"/>
            <class name="ru.point.pft.mantis.tests.ChangeUserPassword"/>
        </classes>
    </test>
</suite>